<%# 
    we give our form; 
        >its header 
        >the path url of the page
        >farm label and form text field
        >submit button
%>

<h1>Sign In</h1> 

<% form_with url: sign_in_path do |form|%>
    <div class= "mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "alemba@gmail.com"%>
    </div>
    <div class= "mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password"%>
    </div>
    <div class= "mb-3">
        <%= form.submit "Sign In", class: "btn_1"%>
    </div>
<% end %>


    